.venv/
env/
Day_01/elf_food.txt
Day_02/rps_strategy.txt
Day_03/rucksacks.txt
Day_04/camp_area_ranges.txt
Day_05/boxes.txt
Day_06/data.txt
Day_07/input.txt
Day_08/trees.txt
Day_09/ropes.txt
Day_10/input.txt
Day_11/input.txt
Day_12/input.txt
Day_13/input.txt
Day_14/input.txt
Day_15/input.txt
Day_16/input.txt
Day_17/input.txt
Day_18/input.txt
Day_19/input.txt
Day_20/input.txt
Day_21/input.txt
Day_22/input.txt
Day_23/input.txt
Day_24/input.txt
Day_25/input.txt
