.venv/
env/
Day_01/elf_food.txt
Day_02/rps_strategy.txt
Day_03/rucksacks.txt
Day_04/camp_area_ranges.txt
Day_05/boxes.txt
Day_06/data.txt
Day_07/input.txt
Day_08/trees.txt
Day_09/ropes.txt
Day_10/input.txt
Day_11/input.txt
Day_12/input.txt